body{
  width: 100%;
  max-width: 1920px;
  min-width: $sm;
}

html{
  font-family: $font-primary;
  font-size: $font-size-body;
  color: $white-default;
}

.container {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  box-sizing: border-box;
  //padding-right: $sm-padding;
  //padding-left: $sm-padding;

  @include media($md){

    max-width: 720px;
    //padding-right: $md-padding;
    //padding-left: $md-padding;
  }

  @include media($lg){
    max-width: 960px;
    //padding-right: $lg-padding;
    //padding-left: $lg-padding;
  }

  @include media($full){
    max-width: 1140px;
    //padding-right: $full-padding;
    //padding-left: $full-padding;
  }

  &--reverse{
    display: flex;
    flex-direction: row-reverse;
  }
}

a{
  text-transform: uppercase;
  color: $white-default;
  text-decoration: none;
}