.footer{
  //width: 100%;
  background-color: $black-default;
  padding: 80px;
  text-align: center;

  &__title{
    font-size: $font-size-logo;
    line-height: 32px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  &__subtitle{
    font-size: $font-size-nav;
    line-height: 30px;
    letter-spacing: 0.2em;
  }
}

.footer-media {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  gap: 20px;

  &__img{
    fill: $white-default;
  }
}

.footer-media__img:hover{
    transform: scale(1.2);
    transition: transform 0.50s;
}

.facebook:hover{
  fill: #3b5998;
}

.twitter:hover{
  fill: #00ACED;
}

.linkedin:hover{
  fill: #0072b1
}

.youtube:hover{
  fill: #cd201f;
}

.pinterest:hover{
  fill: #bd081c;
}



