header{
  width: 100%;
}

.header-banner{
    background-image: url("../image/mobile-header.jpg");
    background-repeat: no-repeat;
    height: 862px;
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;

  @include media($md){
    background-image: url("../image/tablet-header.jpg");
  }

  @include media($lg){
    background-image: url("../image/desktop-header.jpg");
  }

  @include media($full){
    background-image: url("../image/full-desktop-header.jpg");
  }

  &__title{
    text-transform: uppercase;
    font-size: $font-size-heading;
    line-height: 52px;
  }

  &__subtitle{
    padding-top: 10px;
    padding-bottom: 50px;
    font-size: $font-size-subheading;
    line-height: 28px;
    letter-spacing: 0.31em;
  }
}

.header-nav{
  background-color: #5373FD;
  padding-top: 32px;
  padding-bottom: 32px;

  &__box{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @media (min-width: $md) and (max-width:$lg ){
      flex-direction: column;

    }
    @media  (min-width: $lg) {
      justify-content: space-between;
    }
}

}