.logo{
  &__link{
    text-transform: uppercase;
    color: $white-default;
    text-decoration: none;
    font-weight: 700;
    font-family: $font-primary;
    font-size: $font-size-logo;
    letter-spacing: 0.1em;
  }
}