.logo{
  width: 100%;
  text-align: center;
  padding-left: 35px;

  @media (min-width: $md) and (max-width:$lg){
    padding-bottom: 32px;
  }

  @media (min-width: $lg){
    padding: 0;
    width: unset;
  }

  &__link{
    font-weight: 700;
    font-family: $font-primary;
    font-size: $font-size-logo;
    letter-spacing: 0.1em;
  }
}