.btn {
  width: 213px;
  height: 60px;
  text-decoration: none;
  background-color: #5373FD;
  font-family: $font-secondary;
  font-size: $font-size-body;
  border: none;
  cursor: pointer;
  transition-duration: 0.4s;


  &__text{
    text-decoration: none;
    font-family: $font-secondary;
    font-size: $font-size-nav;
    color: $white-default;
    letter-spacing: 0.1em;
    text-transform: uppercase;

  }
  &--narrow{
    //width: 139px;
    height: 52px;
    margin: 4px;
    //margin-right: 4px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }
  }

.btn:hover{
  background: #5373FD;
  box-shadow: 0 2px 10px 5px #5373FD;
}




//.btn:after {
//  content: "";
//  background: #5373FD;
//  display: block;
//  position: absolute;
//  padding-top: 300%;
//  padding-left: 350%;
//  margin-left: -20px !important;
//  margin-top: -120%;
//  opacity: 0;
//  transition: all 0.8s
//}

//.btn:focus { outline:0; }