.btn {
  width: 213px;
  height: 60px;
  text-decoration: none;
  background-color: #5373FD;
  font-family: $font-secondary;
  font-size: $font-size-body;
  border: none;
  cursor: pointer;
  transition-duration: 0.4s;


  &__text{
    text-decoration: none;
    font-family: $font-secondary;
    font-size: $font-size-nav;
    color: $white-default;
    letter-spacing: 0.1em;
    text-transform: uppercase;

  }
  &--narrow{
    height: 52px;
    margin: 4px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }
  }

.btn:hover{
  background: #5373FD;
  //box-shadow: 5px 3px 2px 2px #594CFD;
  transform: scale(1.04);

}